body{
    
    font-size: 12px;
    font-family: Arial;
    display: inline-block;
}

#claro{

    border: 1px solid black;
    padding: 10px;
    text-align: justify;
    border-radius: 15px;
    box-shadow: 10px 1px 15px red;
}

#oi{

    border: 1px solid black;
    padding: 10px;
    text-align: justify;
    border-radius: 15px;
    box-shadow: 10px 1px 15px yellow;
}

footer{

    text-align: center;
    background-color: black;
    color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 15px 15px 0 0px;
}

#Planos{

    border: 1px solid black;
    text-align: center;
    border-radius: 0 15px 15px 15px;
}

aside{

    border: 1px solid black;
    border-radius: 0 10px 10px 0;
    padding: 10px;
    text-align: center;
    height: 800px;
    width: 100px;
    float: left;
    color: blue;
}

article{

    border-radius: 20px;
    box-shadow: 40px 0 0 0 solid black;
    margin: 25px;
    padding: 10px;
}
