body{
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

div{
    background-color: rgb(240, 240, 240);
    display: inline-block;
}

#tabelaA{
    height: 45px;
    width: 600px;
    text-align: center;
    padding: 1px;
}


#tabelaQ{
    height: 45px;
    width: 600px;
    text-align: center;
    border: 0.5px black;
}

#per{
    background-color: rgb(185, 185, 185);
    border-top: 2px solid rgb(61, 61, 61);
    padding: 5px;
}

#and{
    background-color: rgb(160, 255, 181);
    border-top: 2px solid rgb(2, 161, 36);
    padding: 5px;
}

#ios{
    background-color: rgb(65, 147, 255);
    border-top: 2px solid rgb(0, 74, 170);
    padding: 5px;
}

#winP{
    background-color: rgb(173, 86, 245);
    border-top: 2px solid rgb(54, 0, 99);
    font-size: 13px;
    padding: 5px;
}

#oth{
    background-color: rgb(245, 195, 129);
    border-top: 2px solid rgb(177, 100, 0);
    padding: 5px;
}