#a{ background-color: red; 
}
#b{ background-color: purple;
}
#c{ background-color: blue;
}

#linha{
    background-color: tomato;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}