body{
    padding: 0px;
    margin: 0px;
}

header{
    background-color: #ccc;
    height: 80px;
    line-height: 80px;
}

#menu{
    background-color: rgb(190, 99, 99);
    width: 25%;
}

#prop{
    width: 25%;
    background-color: #ff0;
}

#content{
    width: 50%;
    background-color: #0f0;
    padding: 30px;
    box-sizing: border-box;
    text-align: justify;
}

#menu, #prop, #content{
    float: left;
    margin: 0px;
}

footer{
    background-color: #000;
    color:#fff;
    clear: both;
    height: 60px;
}

h2{
    margin: 0px;
}

#centro{
    width: 800px;
    margin: auto;
}
